p{
    font-style:normal;
    color: rgb(0, 0, 0);
}

.clase{
    font-size:large;

}

#identificador{
    margin: 10px;
}

h1{
   margin-left: 35%;
   margin-right: auto;
   font-size: xx-large; 
   font-style: unset;
}

h3{
    font-size: x-large;
    margin-left: 45%;
}


h2{
    margin-left: 33%;
    margin-right: auto;
}

img{
    margin-left: 20%;
    margin-right: auto;
}

.caja{
    display: flex;
    height: auto;
    width: auto;
    background-color: coral;
}

.cajaxd{
    height: auto;
    width: auto;
}

.grid-contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-item{
    background-color: coral;
    padding: 20px;
}